*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    text-align: center;
    font-size: 30px;
    background-color: rgb(45, 73, 110);
}



li{
    list-style: none;
} 
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}   
a:hover{
    color: orange;
}
header{
    position: relative;
    padding: 0 2rem;
}
.logo{
    right: 2rem;
    left: 1px;
    align-items: center;
    margin: 0;
    padding: 0;
    border-radius: 99px;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'calibri';
}
.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'calibri';
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action-btn:hover{
    scale: 1.05;
    color: #fff;
}
.action-btn:active{
    scale: 0.95;
}

.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: #0e1a27;
    backdrop-filter: blur(15px);
    border-radius: 10px;overflow: hidden;
    display: none;
    height: 0;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   
}
.dropdown_menu.open{
    height: 240px;
    border: 1px solid rgb(230, 230, 230);
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}









@media (max-width:992px) {
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media (max-width:576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}









.form-register{
    width: 90%;
    max-width: 400px;
    background: #0a121a;
    padding: 30px;
    margin: auto;
    border-radius: 15px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}
.form-register h1{
    font-size: 11px;
    margin-bottom: 20px;
}
.controls{
    width: 100%;
    background: #1b2127;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(124, 1, 114);
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    font-style: unset;
}

.form-register .botons{
    width: 100%;
    background: rgb(124, 1, 114);
    border-radius: 4px;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 15px;
    font-family: 'calibri';
    
}
.form-register .botons:hover {
   background-color: rgb(41, 3, 38);
}
@media (max-width:425px){
    .form-register h4{
        font-size: 1.8rem;
    }
}